@import url('@/index.css');

.container {
	--song-width: 180px;
	--song-border-radius: 20px;
	--song-gap: 12px;
}

.lib-title {
}

.lib-content {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: var(--song-gap);
	flex-wrap: wrap;
	width: calc(100% - 4 * var(--song-gap));
	height: max-content;
	padding: 20px var(--song-gap);
	border: 1px solid var(--border-color);
	border-radius: 20px;
	background-color: var(--gray);
}

.song {
	position: relative;
	display: flex;
	flex-direction: column;
	width: var(--song-width);
	height: var(--song-width);
	border-radius: var(--song-border-radius);
	position: relative;
}

.song > img {
	width: var(--song-width);
	height: var(--song-width);
	border-radius: var(--song-border-radius);
	cursor: pointer;
	-webkit-user-drag: none;
	user-select: none;
}

.song-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: max-content;
	padding: 5px 0;
	margin-bottom: 20px;
	background-color: #99999950;
	backdrop-filter: blur(20px);
	user-select: none;
}

.song-bottom > div {
	margin-left: 5px;
}

.song-bottom > div:last-child {
	font-size: 12px;
	color: #777;
}

.song-bottom__add {
	position: absolute;
	right: 10px;
	bottom: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #000;
	transform: translateY(50%);
	z-index: 10;
}

.song-bottom__add > i {
	color: #fff;
	font-size: 20px;
}
