@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css');

:root {
	/* --color-light: #edeff1; */
	--color-light-light: #eaf3ea;
	--color-light-shallow: #d7e5d7;
	--color-light-gray: #beca4f;
	--color-light-dark: #1f3f1a;
	--color-light-font: #000200;
}

/* reset */
body {
	font-family: 'Ubuntu Mono', 'Noto Sans SC', sans-serif;
	margin: 0;
	color: var(--color-light-font);
}

a {
	all: unset;
}
