@import url('https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css');

body {
  box-sizing: border-box;
  margin: 0;
}

a {
  color: unset;
  text-decoration: none;
}

a.active {
  background-color: #000;
}

a.active > i {
  position: absolute;
  left: 50%;
  bottom: -1px;
  width: 12px;
  height: 6px;
  clip-path: polygon(0 100%, 50% 0%, 100% 100%);
  background-color: #c20c0c;
  transform: translateX(-50%);
}

input:focus,
input {
  border: none;
}
